<form class="m-5 d-flex flex-column col-5" id="new-post-form">
    <label>Title</label>
    <input class="form-control mb-3" type="text" id="title" />
    <label>Content</label>
    <input class="form-control mb-3" type="text" id="content" />
    <button type="submit">Submit</button>
</form>



<script src="/js/newpost.js"></script>